DEVELOPMENT: <%= ENV["DATABASE_DEVELOPMENT"] %>
TEST: <%= ENV["DATABASE_TEST"] %>
PRODUCTION: <%= ENV["DATABASE_PRODUCTION"] %>
USERNAME: <%= ENV["DATABASE_USERNAME"] %>
PASSWORD: <%= ENV["DATABASE_PASSWORD"] %>
